<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>konfig</param-name>
        <param-value>NWTiS.config.file.xml</param-value>
    </context-param>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GeoMeteoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoMeteoWS</servlet-name>
        <url-pattern>/GeoMeteoWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kontrola</servlet-name>
        <url-pattern>/Kontrola</url-pattern>
        <url-pattern>/Prijava</url-pattern>
        <url-pattern>/LoginConf</url-pattern>
        <url-pattern>/Dnevnik</url-pattern>
        <url-pattern>/PregledKorisnika</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Basic</display-name>
        <web-resource-collection>
            <web-resource-name>Basic</web-resource-name>
            <url-pattern>/Pocetna</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>tomcat</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
